<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean name="applicationContextWrapper" class="com.rhythmdiao.util.ApplicationContextWrapper"/>
    <bean name="appCfg" class="com.rhythmdiao.config.AppConfig" init-method="init">
        <property name="env" value="dev"/>
    </bean>
    <bean class="com.rhythmdiao.handler.Initializer" init-method="init">
        <property name="pkgs">
            <list>
                <value>com.rhythmdiao.handler</value>
            </list>
        </property>
    </bean>
    <import resource="jetty-config.xml"/>
    <context:component-scan base-package="com.*.handler"/>
</beans>